@model MVCSatisTakip.Models.tbl_Satis
@{
    ViewBag.Title = "satisekle";
}

@using (Html.BeginForm("satisekle","Satis",FormMethod.Post))
            {
                <button id="btn2" type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Satış Yap</button>
                <div class="modal" id="Modal1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Satış Yapma Paneli</h2>
                            </div>
                            <form method="post" action="/Satis/satisekle/">
                                <div class="modal-body">
                                    <label>Müşteri</label>
                                    @Html.DropDownListFor(m => m.tbl_Musteri.musteriId, (List<SelectListItem>)ViewBag.mus, new { @class = "form-control" })

                                    <label>Ürün</label>
                                    @Html.DropDownListFor(m => m.tbl_Urun.urunId, (List<SelectListItem>)ViewBag.urn, new { @class = "form-control" })

                                    <label>Adet</label>
                                    @Html.TextBoxFor(m => m.satisAdet, new { @class = "form-control" })

                                    <label>Fiyat</label>
                                    @Html.TextBoxFor(m => m.satisFiyat, new { @class = "form-control" })

                                    <label>Tarih</label>
                                    @Html.TextBoxFor(m => m.satisTarih, new { @class = "form-control", @type="date" })
                                    <br />
                                    <button class="btn btn-info">Satış yap</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>


                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            }
<style>
    #btn2{
        margin-left: 800px;
        margin-top: 20px;
    }
</style>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    var fiyat = $("#satisfiyat")
    function hesapla() {
        var urunId = $("#urunId option:selected").val()$.get.JSON("satis/getfiyat" + urunId, function (data) {
            var adet = $("#satisadet")
            if (!isNaN(adet.val())) {
                fiyat.val(adet.val()+data)

            }
        })
    }
</script>